
example/.vs/example/FileContentIndex/61a2d01b-eb45-4279-8cbf-31877f9d4648.vsidx
example/.vs/example/v17/.suo
example/.vs/example/v17/Browse.VC.db
example/.vs/example/v17/fileList.bin
example/.vs/example/v17/ipch/AutoPCH/ab6153be70bb7c72/MAIN.ipch
example/.vs/example/v17/Solution.VC.db
example/bin/example_debug.exe
example/bin/example_debug.pdb
example/bin/fmod.dll
example/bin/fmodL.dll
example/bin/FreeImage.dll
example/config.make
example/example.sln
example/example.vcxproj
example/example.vcxproj.filters
example/example.vcxproj.user
example/icon.rc
example/obj/addons/ofxSTL/src/Debug/ofxSTLExporter.obj
example/obj/addons/ofxSTL/src/Debug/ofxSTLImporter.obj
example/obj/x64/Debug/Build/src/Debug/main.obj
example/obj/x64/Debug/Build/src/Debug/ofApp.obj
example/obj/x64/Debug/example.log
example/obj/x64/Debug/example.tlog/CL.10700.write.1.tlog
example/obj/x64/Debug/example.tlog/CL.command.1.tlog
example/obj/x64/Debug/example.tlog/Cl.items.tlog
example/obj/x64/Debug/example.tlog/CL.read.1.tlog
example/obj/x64/Debug/example.tlog/example.lastbuildstate
example/obj/x64/Debug/example.tlog/link.command.1.tlog
example/obj/x64/Debug/example.tlog/link.read.1.tlog
example/obj/x64/Debug/example.tlog/link.write.1.tlog
example/obj/x64/Debug/example.tlog/rc.command.1.tlog
example/obj/x64/Debug/example.tlog/rc.read.1.tlog
example/obj/x64/Debug/example.tlog/rc.write.1.tlog
example/obj/x64/Debug/example_debug.exe.recipe
example/obj/x64/Debug/icon.res
example/obj/x64/Debug/vc143.pdb
